
 <div class="ba ma4 ph3-ns">
   <div class="cf ph2-ns">
     <% @states.each do |state| %>
        <div class="fl w-100 w-third-ns pa2">
          <div class="outline bg-white pa4 ma4 fl w-80"> 
            <div class="fl w-60 pa2">

              <div class="">
                <p class=""><u><%=state.name%></u></p>
                <ul>
                  <li><%=state.climate%></li>
                  <li><%=state.terrain%></li>
                  <li><%=state.description%></li>
                  <li><%=state.anthem%></li>
                </ul>
              </div>
            </div>

            <div class="fl w-40 pa2">
              <div class="pv4"><%= state.get_flag %> </div>
            </div>
          </div>     
        </div>
      <% end %>
   </div>
</div>


